<div class="app">
  <!-- CABECERA -->
  <header>
    <img src="../assets/images/face.jpeg" alt="my face" class="face" />
    <div class="name-container">
      <h1>Juan David Nuñez Aguilar</h1>
      <p>Desarrollador Front end</p>
    </div>
    <div class="btn-container">
      <button class="btn-languaje">
        <fa-icon [icon]="faLanguage"></fa-icon>
      </button>
      <button class="btn-download">
        <fa-icon [icon]="faSave"></fa-icon>
      </button>
    </div>
  </header>

  <!-- CUERPO -->
  <section>
    <app-block title="Perfil" [text]="globalData.profileText"></app-block>
    <app-habilities title="Competencias"></app-habilities>
    <app-block
      [title]="globalData.jobExperienceTitle"
      [data]="globalData.jobExperienceData"
    ></app-block>
    <app-block title="Educación" [data]="globalData.educationData"> </app-block>
    <app-block title="Referencias personales" [data]="globalData.referenceData">
    </app-block>
    <app-block title="Cursos adicionales" [data]="globalData.cursosData">
    </app-block>
    <app-block title="Datos personales" [data]="globalData.personalData">
    </app-block>
  </section>
</div>
